<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page <%= 'Hello World' .toUpperCase() %>
    </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa quam voluptatibus distinctio architecto. Fugit
        numquam aliquid maiores alias dignissimos voluptates explicabo sint libero, saepe impedit quod blanditiis amet?
        Consequatur, unde.
        Corrupti sit vel enim impedit dolorem sed ducimus molestiae maxime deleniti voluptate ad cumque tempore, officia
        similique architecto, id deserunt officiis hic odit. Debitis tenetur alias exercitationem. Quis, esse iste!
        Delectus quidem minus voluptates nostrum, exercitationem repellendus aliquam? Velit amet ipsum eum autem
        mollitia cum soluta voluptatibus quo, dignissimos rem quidem corrupti laborum quod repellat quam saepe, fuga
        perspiciatis consequuntur!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sint nihil at, similique voluptate ea sed ducimus
        aliquam in officia. Nobis earum nihil ratione harum hic, molestiae voluptatibus animi iusto?Officia provident
        iste, ducimus suscipit quo perferendis quam possimus sint assumenda ipsum molestias eligendi voluptatem labore,
        cum laborum dicta. Harum ex eveniet vel non voluptatum suscipit laborum perspiciatis repellat at?</p>

</body>

</html>