<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <h1>Log in here... </h1>

    <form action="/login" method="POST">
        <div>
            <label for="username">Username:</label>
            <input id="username" name="username" type="text" placeholder="Enter a user name" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input id="password" name="password" type="password" placeholder="Enter a password" required>
        </div>
        <button>Log In</button>
    </form>

    <a href="/">Home</a>
</body>
</html>