<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shhhhhh!</title>
</head>
<body>
    <h1>Here's a secret image for you:</h1>
    <div>
        <img height="500px" src="https://source.unsplash.com/collection/483251" alt="secret image">
    </div>

    <a href="/">Home</a>
</body>
</html>